body {
    /*background: linear-gradient(0deg, rgba(2,173,231,0.5), rgba(2,173,231,0.5)) repeat;*/
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-position-y: 42%;
}


